@import '../../../styles/utils.scss';

.event-card-template {
    @include home-common();

    display: flex;

    .left {
        flex: 9;

        .sub-text {
            font-size: 12px;
        }

        .main-text {
            font-weight: 600;
        }
    }

    .right {
        flex: 1;

        display: flex;
        align-items: center;

        .right-icon {
            width: 100%;
        }
    }
}
