@import '../../../styles/utils';

.RelevantButtonWrapper {
    width: 100%;
    background: #2e2e2e;
    border-radius: 5px;
    padding: 20px;
    color: white;
    cursor: pointer;

    .relevant-button-title {
        font-size: 12px;
    }

    .relevant-button-text {
        font-size: 18px;
        font-weight: bold;
    }
}
