@import '../../../styles/utils.scss';

.price-info-template {
    padding: 20px;
    background: white;

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: $oc-gray-0;
        border-radius: 10px;

        color: $main-color;

        .discount {
            font-size: 14px;
            font-weight: 600;
        }

        .price {
            font-weight: 800;
            font-size: 22px;
        }

        .detail-price {
            font-size: 12px;
            span {
                text-decoration-line: line-through;
                font-size: 12px;
            }
        }

        .process {
            font-size: 12px;
        }
    }
}
