@import '../../../styles/utils.scss';

.buttom-sticky-template {
	position: -webkit-sticky;
	position: sticky;

	width: 100%;
	max-width: 768px;
	bottom: 0;
	color: white;
	background: $main-color;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;

	img {
		width: 25px;
		height: 25px;
	}
}
