@import '../../../styles/utils.scss';

.class-card-template {
    width: 100%;
    height: 360px;

    &.black {
        color: white;
    }

    .class-card-thumbnail {
        width: 100%;
        height: 234px;
        object-fit: cover;
    }

    .class-card-title-template {
        display: flex;
        padding: 10px;
        padding-bottom: 0;
        justify-content: space-between;
        align-items: center;

        .class-card-title {
            font-weight: 600;
            font-size: 16px;
        }

        .class-card-like {
            width: 20px;
            height: 20px;
        }
    }

    .username {
        padding: 0 10px;
        font-size: 14px;
    }

    .description {
        padding: 0 10px;
        font-size: 12px;
    }

    .class-card-price {
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;

        .class-card-pixel {
            margin: 0 5px 0 0;
            width: 20px;
            height: 20px;
        }
    }
}
