@import '../../../styles/utils.scss';

.SelectClassCardWrapper {
    position: relative;
    width: 100%;
    height: 360px;

    .scc-cover {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70%;

        background: linear-gradient(to bottom, rgba(black, 0), rgba(black, 1));

        color: white;

        .scc-content {
            position: absolute;
            bottom: 0;

            padding: 10px 20px;
            .scc-content-header {
                display: flex;
                justify-content: space-between;
                .scc-content-title {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 5px 0;
                }
                .scc-content-like {
                    width: 20px;
                    height: 20px;
                }
            }

            .scc-content-username {
                font-size: 13px;
                margin: 5px 0;
            }

            .scc-content-discription {
                font-size: 12px;
                margin: 5px 0;
            }

            hr {
                opacity: 0.3;
            }

            .scc-content-price {
                display: flex;
                align-items: center;

                font-size: 14px;
                font-weight: 600;
                margin: 5px 0;

                .scc-content-pixel {
                    margin: 0 5px 0 0;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
