@import '../../../styles/utils.scss';

.simple-class-card-template {
    display: flex;

    width: 100%;
    height: 145px;
    margin-bottom: 10px;

    color: black;

    .thumbnail {
        width: 100%;
        max-width: 192px;
        height: 145px;
        object-fit: cover;
    }

    .simple-class-card-content {
        padding: 10px;

        .title-template {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .text {
                .title {
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .img {
                img {
                    width: 21px;
                }
            }
        }
    }

    .simple-class-username {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
    }

    .simple-class-description {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;

        max-height: 35px;
        overflow: hidden;
    }

    .simple-class-price {
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 600;
        margin: 5px 0;

        .simple-class-pixel {
            margin: 0 5px 0 0;
            width: 20px;
            height: 20px;
        }
    }
}
