@import '../../../styles/utils.scss';

.HorizontalCard {
  display: flex;
  padding: 5px 20px;

  background: white;
  border-bottom: 1px solid $oc-gray-3;

  .left {
    flex: 4;
    img {
      width: 100%;
      height: 85px;
      object-fit: cover;
    }
  }

  .right {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $main-color;

    .title {
      font-weight: 600;
      font-size: 14px;
    }

    .username {
      font-size: 13px;
    }

    .description {
      font-size: 11px;
    }
  }

  .right-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
