@import '../../../styles/utils.scss';

.new-classes-card-template {
    padding: 20px;
    // background: #f7f7f8;
    color: #000;

    .header {
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        margin: 40px 0;
    }

    .ncc-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;

        .ncc-content-title {
            margin: 0 0 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .ncc-title-icon {
                width: 20px;
                height: 20px;
                margin: 0 5px 0 0;
            }

            .ncc-content-title-text {
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                text-align: center;
            }
        }

        .ncc-content-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 10px;
        }
    }

    .more-btn {
        margin: 40px 0;
        opacity: 0.5;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        color: #6078ff;
    }
}
