@import '../utils.scss';

.classWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;

    .class-padding {
        @include max-width();
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;

        .class-detail-content {
            background: #222222;
            border-radius: 5px;
            .class-detail-content-title {
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                color: #8a8a8a;
                padding: 10px 10px 5px 10px;
            }
            .class-detail-content-body {
                color: white;
                padding: 5px 10px 10px 10px;
            }
        }

        .class-relevant-buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
        }
    }
}
