@import '../utils.scss';
.main-page-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 80px;
    justify-items: center;
    align-items: center;

    .padding-wrapper {
        @include max-width();
        width: 100%;
    }

    .temp-event-card {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: white;
        line-height: 80px;
        height: 80px;
        background: #6179ff;
    }
}
