@import '../utils.scss';

@mixin subHeaderSticky($bottom) {
  position: -webkit-sticky;
  position: sticky;
  bottom: $bottom;
}

.mypage-sub-header {
  height: 30px;
  padding: 5px 20px;
  color: $main-color;
  background: $oc-gray-1;

  font-size: 13px;
  font-weight: 600;

  &#recently-list {
    @include subHeaderSticky(75px);
  }

  &#purchase-list {
    @include subHeaderSticky(45px);
  }
}
