@import '../utils.scss';

.payment-btn {
	position: sticky;
	bottom: 45px;

	background: rgba($main-color, 0.8);

	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: white;
}
