@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$phone: 320px;
$tablet: 768px;
$desktop: 1080px;

$breakpoints: (
    phone: $phone,
    tablet: $tablet,
    desktop: $desktop
);

$main-color: #343e86;

@mixin home-common() {
    margin: 10px 0;
    padding: 20px;
    background: white;
    color: $main-color;
}

@mixin test-border($color) {
    border: 1px solid $color;
}

@mixin max-width() {
    max-width: 100%;
    @include media('>desktop') {
        max-width: $desktop;
    }
}

@mixin material-shadow($z-depth: 1, $strength: 1, $color: black) {
    @if $z-depth == 1 {
        box-shadow: 0 1px 3px rgba($color, $strength * 0.14),
            0 1px 2px rgba($color, $strength * 0.24);
    }
    @if $z-depth == 2 {
        box-shadow: 0 3px 6px rgba($color, $strength * 0.16),
            0 3px 6px rgba($color, $strength * 0.23);
    }
    @if $z-depth == 3 {
        box-shadow: 0 10px 20px rgba($color, $strength * 0.19),
            0 6px 6px rgba($color, $strength * 0.23);
    }
    @if $z-depth == 4 {
        box-shadow: 0 15px 30px rgba($color, $strength * 0.25),
            0 10px 10px rgba($color, $strength * 0.22);
    }
    @if $z-depth == 5 {
        box-shadow: 0 20px 40px rgba($color, $strength * 0.3),
            0 15px 12px rgba($color, $strength * 0.22);
    }
    @if ($z-depth < 1) or ($z-depth > 5) {
        @warn "$z-depth must be between 1 and 5";
    }
}
