@import '../../../styles/utils.scss';

.ContentsListWrapper {
    color: $main-color;
    background-color: white;
    padding-bottom: 10px;

    .content-list {
        font-size: 14px;
        text-align: center;
    }

    hr {
        border: 1px solid $main-color;
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
        .title {
            font-size: 15px;
            font-weight: 600;
        }
        .time {
            font-size: 15px;
        }
    }
}
