@import '../../styles/utils.scss';

/** Noto Sans KR  100,300,400,500,700,900 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/** Hanna 400 */
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
* {
    font-family: 'Noto Sans KR';
    letter-spacing: -0.2px;
}

#side-padding {
    padding: 0 20px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-header {
        position: fixed;
        width: 100%;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        -webkit-backdrop-filter: blur(45px);
        backdrop-filter: blur(45px);

        background: rgba(white, 0.7);

        &.black {
            background: rgba(black, 0.7);
        }

        .header-wrapper {
            @include max-width();

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 80px;

            .left {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .text-logo {
                    height: 30px;
                    margin: 0 40px 0 0;
                }

                .input {
                    display: flex;
                    align-items: center;

                    width: 385px;
                    height: 30px;
                    border-radius: 15px;

                    background: #bec8ff;
                    &.black {
                        background: rgba(white, 0.8);
                    }

                    .input-area {
                        border: none;
                        border-radius: 15px;
                        width: 385px;
                        padding: 0 20px;

                        background: #bec8ff;

                        &.black {
                            background: rgba(white, 0.8);
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    img {
                        height: 25px;
                        width: 25px;
                        margin: 0 10px;
                    }
                }
            }

            .right {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &.black {
                    color: white;
                }

                div {
                    margin-right: 20px;
                    font-size: 14px;
                    font-weight: 500;
                }

                .menu {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .header-horizontal {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 30px;

            background: black;

            &.none {
                height: 10px;
            }

            .header-horizontal-wrapper {
                @include max-width();
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .menu-item {
                    margin: 0 20px 0 0;
                    font-size: 14px;
                    font-weight: 300;
                    color: #999999;

                    &.active {
                        color: white;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .content {
        margin-top: 110px;
        width: 100%;
        &.none {
            margin-top: 80px;
        }

        &.black {
            background: #161616;
        }
    }
    footer {
        display: flex;
        justify-content: center;
        background: black;
        color: white;
        width: 100%;
        .footer-template {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0;

            @include max-width();
            width: 100%;

            .left {
                padding: 20px 10px;
                .ft-customer-service {
                    font-size: 14px;
                    font-weight: bold;
                    span {
                        font-weight: 300;
                    }
                }
                .ft-tel {
                    font-size: 16px;
                    font-weight: 500;
                }

                .ft-email {
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    color: $oc-gray-4;
                }
                .ft-sns {
                    margin: 15px 0 0 0;
                    font-size: 14px;
                    font-weight: bold;
                    span {
                        font-weight: 300;
                        margin: 0 0 0 10px;
                    }
                }
                .ft-sns-icons {
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                    span {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .ft-sns-icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        margin: 10px 10px 10px 0;
                    }
                }
            }

            .right {
                padding: 20px 10px;
                .ft-tos {
                    font-size: 11px;
                    font-weight: 300;
                    margin: 0 0 10px 0;
                }
                .ft-info {
                    font-size: 11px;
                }
                .ft-logo {
                    margin: 30px 0 0 0;
                }
            }
        }
    }
}

.Modal {
    position: absolute;
    top: 5px;
    left: 50px;
    right: 5px;
    bottom: 500px;
    border-radius: 10px;
    // background-color: white;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($oc-gray-6, 0.6);
}

.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 200ms ease-out;
}

.ReactModal__Content {
    // -webkit-transform: scale(0.5) rotateX(-30deg);
    // transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    // -webkit-transform: scale(1) rotateX(0deg);
    // transform: scale(1) rotateX(0deg);
    transition: all 200ms ease-in;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    // -webkit-transform: scale(0.5) rotateX(30deg);
    // transform: scale(0.5) rotateX(30deg);
    transition: all 200ms ease-in;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}
