@import '../../../styles/utils.scss';

.teacher-card-template {
  margin: 10px 20px;
  padding: 10px 5px;
  background: white;

  .info {
    padding: 10px 5px;

    color: $main-color;
    display: flex;
    justify-content: space-between;

    .user-thumbnail {
      flex: 3;
      img {
        object-fit: cover;
        width: 70px;
        height: 70px;
        border: 2px solid $main-color;
        border-radius: 35px;
      }
    }

    .text-info {
      flex: 5;
      overflow: hidden;
      .username {
        font-weight: 600;
        font-size: 16px;
      }

      .sub-title {
        font-weight: 500;
        font-size: 14px;
      }

      .sub-description {
        font-size: 12px;
      }
    }

    .like {
      flex: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .classes {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .class-thumbnail {
      width: 100%;
      padding: 5px;
      img {
        object-fit: cover;
        width: 100%;
        height: 70px;
        border-radius: 5px;
      }
    }
  }
}
