@import '../../../styles/utils.scss';

.best-category-template {
    @include home-common();

    h3 {
        color: #353d8a;
    }

    .best-category-flex {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;

        .best-category-button {
            width: 75px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #b3b9d8;
            color: #353d8a;
            font-size: 13px;
            border-radius: 15px;
            text-align: center;

            &:hover {
                border: 1px solid #353d8a;
            }
        }
    }
}
