@import '../../../styles/utils.scss';

.menu-template {
    .header {
        display: flex;
        justify-content: space-between;

        .right {
            background: white;
            padding: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }

    .body {
        background: white;
        border-radius: 10px;
        border-top-right-radius: 0;
        padding: 10px;

        display: flex;
        .right {
            flex: 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            background: #f7f7f7;

            img {
                margin: 10px;
            }

            .nickname {
                color: $main-color;
                font-weight: 600;
            }

            .id {
                color: $main-color;
                font-size: 12px;
            }
        }
        .left {
            flex: 4;
            padding: 10px;
            font-size: 11px;
            color: $main-color;

            .menu + .menu {
                margin-top: 5px;
            }
        }
    }
}
