@import '../../../styles/utils.scss';

.BestClassesWrapper {
    .best-classes-title {
        margin: 0 0 40px 0;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.4px;
        text-align: center;
        color: #000000;
    }

    .select-classes-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        width: 100%;
        margin: 0 0 40px 0;
    }

    .best-classes-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        width: 100%;
        margin: 0 0 20px 0;
    }
}
