@import '../../../styles/utils.scss';

.SelectTeacherCardWrapper {
    position: relative;
    width: 100%;
    height: 460px;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;

    .stc-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        filter: blur(5px);
        border-radius: 10px;
        background-size: cover;

        color: white;
    }
    .stc-cover-black {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(black, 0.4);
    }
    .stc-content {
        position: absolute;
        height: 100%;
        width: 100%;

        .stc-info {
            display: flex;

            color: white;
            img {
                margin: 40px 50px 40px 70px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50px;
            }

            .stc-info-text {
                margin: 40px 20px;
                .stc-teacher-username {
                    font-size: 16px;
                    font-weight: bold;
                }
                .stc-teacher-career {
                    display: flex;
                    .stc-career {
                        margin-right: 10px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                .stc-teacher-discription {
                    height: 52px;
                    overflow: hidden;
                    font-size: 12px;
                }
            }
        }

        .stc-class-tip {
            display: flex;

            margin: 10px;
            margin-top: 0;

            .stc-class {
                margin-right: 5px;
                width: 230px;

                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-column-gap: 5px;
                grid-row-gap: 5px;

                img {
                    width: 100%;
                    height: 110px;
                    object-fit: cover;
                }
            }
            .stc-tip {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                img {
                    width: 100%;
                    height: 110px;
                    object-fit: cover;
                }
                .stc-more {
                    background: rgba(white, 0.3);
                    width: 100%;
                    height: 110px;
                    line-height: 110px;
                    color: #ffffff;
                    text-align: center;
                }
            }
        }
        .stc-footer {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;

            .stc-cnt {
                img {
                    margin: 0 5px 0 0;
                    width: 20px;
                    height: 20px;
                }
                span {
                    height: 20px;
                    line-height: 20px;
                    margin: 0 5px 0 0;
                    color: white;
                }
            }

            .stc-select-text {
                color: $oc-gray-5;
                font-size: 14px;
            }
        }

        hr {
            margin: 10px;
        }
    }
}
