@import '../../../styles/utils.scss';

.search-input-template {
  display: flex;
  padding: 5px 10px;
  background: white;

  .left {
    flex: 9;
    padding: 0 10px;
  }

  .right {
    flex: 1;
    padding: 0 10px;
    img {
      width: 27px;
      height: 27px;
    }
  }
}
