@import '../../../styles/utils.scss';

.BestTeachersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .best-teachers-title {
        margin: 0 0 40px 0;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
    }

    .select-teachers-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        width: 100%;
    }

    .best-teachers-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        width: 100%;
    }
}
