@import '../../../styles/utils.scss';

.CommonCategoryWrapper {
    .cc-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #000000;
    }

    .cc-category-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin: 40px 0 0 0;

        height: 600px;

        .cc-category-card {
            border-radius: 15px;
            width: 100%;
            height: 600px;
            line-height: 600px;

            font-size: 35px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            text-align: center;
            color: #ffffff;
        }
    }
}
