@import '../../../styles/utils.scss';

.class-detail-card-template {
    display: flex;
    align-items: center;

    padding: 10px 20px;
    background: white;
    color: $main-color;

    .left {
        flex: 10;
        .header {
            display: flex;
            align-items: center;
            div {
                margin-right: 10px;
            }

            .title {
                font-weight: 600;
                font-size: 15px;
            }

            .lookup {
                font-size: 12px;
            }

            .like {
                font-size: 12px;
            }
        }
        .description {
            margin-top: 5px;
            font-size: 12px;
        }
        .hashtags {
            display: flex;
            margin-top: 5px;
            font-weight: 600;
            div {
                margin-right: 5px;
                font-size: 11px;
            }
        }
    }

    .right {
        flex: 1;
        img {
            width: 100%;
        }
    }
}
