@import '../../../styles/utils.scss';

.VerticalOwnerCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 21px;

    width: 100%;
    max-width: 200px;
    height: 358px;
    border-radius: 20px;
    background: linear-gradient(
        to bottom,
        rgba(#6179ff, 0.05),
        rgba(96, 120, 255, 0.03)
    );

    .user-image {
        margin: 20px 0 5px 0;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        @include material-shadow(4, 0.6);
    }

    .username {
        margin: 15px 0 5px 0;
        font-size: 16px;
        font-weight: 600;
    }

    .follow-count {
        margin: 0 0 5px 0;
        font-size: 12px;
        color: #6179ff;
    }

    .career {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .discription {
        overflow: hidden;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        max-height: 74px;
    }

    hr {
        width: 100%;
        border: 1px solid $oc-gray-3;
    }

    .class-and-tip {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        span {
            margin-right: 10px;
            font-size: 15px;
        }
    }
}
