.signin-template {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signin-logo {
        margin: 80px 0;
    }

    .signin-state {
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0;
    }

    .signin-loss-text {
        font-size: 12px;
        font-weight: normal;
    }

    .signin-loss-func {
        font-size: 14px;
        font-weight: bold;
        margin: 5px 0 20px 0;
    }

    .form-button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        border: none;

        &.signin {
            color: #ffffff;
            background-color: #6179ff;
        }

        &.signup {
            color: #6179ff;
            background-color: #eff1ff;
            margin-bottom: 140px;
        }
    }
}
