@import '../../../styles/utils';

.RelevantTipWrapper {
    .relevant-title {
        margin: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        color: white;
    }

    .relevant-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}
