@import '../../../styles/utils.scss';

.BestClassWrapper {
    position: relative;
    width: 100%;
    height: 393px;

    .best-class-background {
        margin: 10px;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        filter: blur(10px);
    }

    .best-class-content {
        position: absolute;
        top: 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .best-class-content-wrapper {
            @include max-width();
            width: 100%;
            height: 393px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .best-class-content-body {
                width: 330px;

                color: white;

                .best-class-content-header {
                    margin: 0 0 30px 0;
                    font-size: 20px;
                    font-weight: 600;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .best-class-content-like {
                        width: 20px;
                        height: 20px;
                    }
                }

                .best-class-content-pixel-discription {
                    margin: 0 0 25px 0;
                    font-size: 18px;
                    font-weight: 600;
                }

                .best-class-content-title {
                    margin: 5px 0;
                    font-size: 16px;
                    font-weight: 500;
                }

                .best-class-content-username {
                    margin: 5px 0;
                    font-size: 13px;
                    font-weight: 500;
                }

                .best-class-content-discription {
                    margin: 5px 0;
                    font-size: 12px;
                }

                .best-class-content-price {
                    display: flex;
                    align-items: center;

                    font-size: 14px;
                    font-weight: 600;
                    margin: 20px 0 0 0;

                    .best-class-content-pixel {
                        margin: 0 5px 0 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .best-class-content-image {
                width: 700px;
                height: 393px;
            }
        }
    }

    .best-class-cover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
